{% extends "base.html" %}

{% block content %}

<form id="form1" class="" method="get">

<div class="row">
	<div class="col-xs-12">
		<div class="box">

			<div class="box-header">
	
			</div>
			<div class="box-content">

				<table class="table table-bordered table-striped table-hover table-heading table-datatable" id="datatable-1">
					<thead>
                                                <tr>
<div>
					<div class="col-sm-3">
      <input type="text" name="searchitem" placeholder="check for item "/>&nbsp;
 					</div>
					<div class="col-sm-9">

</div>                                       
                                                </tr>
						<tr>
							<th>item</th>
							<th>quantity</th>
							<th>price</th>

						</tr>
					</thead>
					<tbody>
					{% if items %}
						{% for key, value in items.items() %}
						<tr>
							<td>{{ key }}</td>
							<td>{{ value['quantity'] }} &nbsp;&nbsp; <a href="#">change</a></td>
							<td>{{ value['price'] }} &nbsp;&nbsp;<a href="#">Remove</a></td>
						</tr>
 						{% endfor %}
					{% endif %}

		                        </tbody>
	                       </table>
               		</div>    
	     
		</form>

<form id="form2" class="" method="post">

					<div class="col-sm-3">
      <input type="text" name="itemname" placeholder="item to include... "/>&nbsp;
      <input type="text" name="quantity" placeholder="quantity"/>&nbsp;
      <input type="text" name="price" placeholder="price per unit"/>&nbsp;
      <input type="hidden" name="list_id" value="{{ list_id }}">
 					</div>
					<button type="submit" value="submit" class="btn btn-primary">Add item</button>
</form>


{% endblock %}
