{% extends "base.html" %}

{% block content %}

<form id="form1" class="" method="get">

<div class="row">
	<div class="col-xs-12">
		<div class="box">

			<div class="box-header">
	
			</div>
			<div class="box-content">

				<table class="table table-bordered table-striped table-hover table-heading table-datatable" id="datatable-1">
					<thead>
                                                <tr>
<div>
					<div class="col-sm-3">
      <input type="text" name="searchlist" placeholder="search lists "/>&nbsp;
      <button type="submit" value="submit" class="btn btn-success">Search</button>
 					</div>
					<div class="col-sm-9">

</div>                                       
                                                </tr>
						<tr>
							<th>shopping list</th>
							<th>date</th>
                                                        <th>budget</th>
							<th></th>

						</tr>
					</thead>
					<tbody>
					{% if result %}
						{% for row in result %}
						<tr>
							<td>{{ row.name }}</td>
							<td>{{ row.created }}</td>
							<td>{{ row.budget }}</td>
							<td><a href="{{ url_for('view_list', list_id=row.id)}}">view</a></td>
                                                        <td>
							   
							    <a href="{{ url_for('delete_list', list_id=row.id)}}">delete</a>							</td>
						</tr>
 						{% endfor %}
					{% endif %}

		                        </tbody>
	                       </table>
			<input type="hidden" name="username" value="{{ user }}">
               		</div>    
	        
		</form>

		<form id="form2" class="" method="post">

					<div class="col-sm-3">
      <input type="text" name="listname" placeholder="new list... "/>&nbsp;&nbsp;
      <input type="text" name="budget" placeholder="50000"/>
 					</div>
					<button type="submit" value="submit" class="btn btn-primary">create list</button>
                                        <input type="hidden" name="username" value="{{ user }}">

                </form>


{% endblock %}
